<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    {{ $css := resources.Get "css/main.css" }}
    {{- $css = $css | resources.ExecuteAsTemplate "css/main.css" . | css.Sass }}

    {{- with  $css }}
      {{- with . | minify | fingerprint }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
      {{- end }}
    {{- end }}

    {{ $cssReset := resources.Get "css/resets.css" }}
    {{- $cssReset = $cssReset | resources.ExecuteAsTemplate "css/resets.css" . | css.Sass }}

    {{- with  $cssReset }}
      {{- with . | minify | fingerprint }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
      {{- end }}
    {{- end }}

    <script
      type="module"
      src="https://unpkg.com/@layflags/rolling-number@1.0.0/rolling-number.js"
    ></script>

    <!-- site-wide fonts/scripts that were in the homepage content -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    {{/*  Icons  */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add,analytics,folder_shared,mic,public" />

    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>

    <script type="module">
      import "@material/web/all.js";
      import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    {{ block "head" . }}{{ end }}
  </head>

  <body>
    {{ block "main" . }}{{ end }}
  </body>
</html>
