:root {
  --md-sys-color-primary: {{ .Site.Params.colors.primary }};
  --md-sys-color-on-primary: {{ .Site.Params.colors.on_primary }};

  --md-sys-color-secondary: {{ .Site.Params.colors.primary }};
  --md-sys-color-on-secondary: {{ .Site.Params.colors.on_primary }};

  --md-sys-color-primary-container: {{ .Site.Params.colors.primary_container }};
  --md-sys-color-on-primary-container: {{ .Site.Params.colors.on_primary_container }};

  --md-sys-color-secondary-container: #B39DDB; /* filled-tonal background */
  --md-sys-color-on-secondary-container: #1F1B2E; /* text/icon color on that background */

  --md-sys-color-surface: {{ .Site.Params.colors.surface }};
  --md-sys-color-on-surface: {{ .Site.Params.colors.on_surface }};

  --md-sys-color-surface-variant: {{ .Site.Params.colors.surface_variant }};
  --md-sys-color-on-surface-variant: {{ .Site.Params.colors.on_surface_variant }};

  --md-sys-color-surface-container-high: {{ .Site.Params.colors.surface_container_high }};
  --md-sys-color-surface-container: {{ .Site.Params.colors.surface_container }};
  --md-sys-color-surface-container-low: {{ .Site.Params.colors.surface_container_low }};

  --md-sys-color-outline: {{ .Site.Params.colors.outline }};

  --md-sys-typescale-body-medium-size: 1.2rem;
  --md-sys-typescale-body-medium-line-height: 2rem;

  --md-sys-typescale-headline-medium-font: "Roboto", sans-serif;
  --md-sys-typescale-headline-medium-size: 2rem;
  --md-sys-typescale-headline-medium-line-height: 2.5rem;
  --md-sys-typescale-headline-medium-weight: 500;

  --md-filled-tonal-button-container-color: var(--md-sys-color-secondary-container);
}

:root {
  /* Fonts */
  --micro-heading-font: "Inter", sans-serif;
  --micro-body-font: "Inter", sans-serif;
  --micro-font-color: #000;
  --micro-font-color-light: #fff;
  --micro-font-color-toned: #707070;
  --micro-inverse-color: #000;
  --micro-heading-color: #000;

  --micro-nav-background-color: var(--micro-background-light);
  --micro-nav-font-color: var(--micro-font-color);

  --micro-footer-background-color: var(--sl-color-primary-950);
  --micro-footer-font-color: var(--micro-font-color-light);

  /* Backgrounds */
  --micro-background-light: #fff;
  --micro-background-dark: #000;
  --micro-panel-color: #fcfcfc;

  /* Font Sizes */
  --micro-font-size-xsmall: 0.8rem;
  --micro-font-size-small: 1rem;
  --micro-font-size-medium: 1.5rem;
  --micro-font-size-larger: 2.25rem;
  --micro-font-size-xlarge: 4.5rem;

  /* Paddings */
  --micro-padding-small: 0.5rem;
  --micro-padding-medium: 1rem;
  --micro-padding-large: 2rem;
  --micro-padding-xlarge: 2.5rem;

  /*
        The minimum amount of space either side of the main (non-fullbleed)
        content.
        This is the amount of padding around the main content on mobile.
    */
  --micro-gutter-size: 0.75rem;

  /* Other */
  --micro-navbar-height: 72px;
  --micro-navbar-padding: var(--micro-padding-medium);
  --micro-panel-opacity: 0.8;
  --micro-transition-duration: 0.3s;
  --micro-transition-timing: ease-in-out;
  --micro-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --micro-box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);
  --micro-border-radius: 0.25rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  /* background-color: hsl(45, 46%, 95%); */
  background-color: hsl(45, 29%, 97%);
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem !important;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

md-filled-tonal-button {
  --_container-color: var(--md-sys-color-primary) !important;
  --_label-text-color: var(--md-sys-color-on-primary) !important;
}

.dark-section {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
}

.showcase-section {
  padding-top: 0 !important;
}

.double-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  margin-inline: auto;
  margin-bottom: 1rem;

  p {
    text-align: justify;
    letter-spacing: 0.5px;
  }
}

.page-section {
  padding-block: 2rem;
}

.card {
  --md-elevated-card-container-elevation: 1;

  display: flex;
  flex-direction: column;
  width: 100%;

  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container);

  border-radius: 12px;
  contain: content;

  .card-media {
    width: 100%;
    aspect-ratio: 16 / 9;

    min-height: 250px;
    background-size: cover;

    border-bottom: 1px solid var(--md-sys-color-outline);

    contain: content;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  .card-content {
    padding: 2rem;
    background-color: var(--md-sys-color-surface-container-low);
    height: 100%;

    contain: content;
  }

  .card-footer {
    padding: 1rem;
    margin-top: auto;

    background-color: var(--md-sys-color-surface-container-low);

    contain: content;
  }
}

/* Theming */
body {
  display: grid;

  /*
        By using the [name-start] and [name-end] grid area syntax, we are able
        to use a subgrid area by simply using the "name".

        E.g. If you want an element to fullbleed (extend to the edges of the
        page) you can simply do
        grid-area: fullbleed

        ---

        Additionally, note that the gutters have a minimum size of the inner
        content meaning that if you add content to the gutters (e.g. a sidebar
        menu), it will tax the main content container for the space.
    */
  grid-template-columns:
    [fullbleed-start] minmax(var(--micro-gutter-size), auto) [main-start] calc(min(80rem, 90%)) [main-end] minmax(var(--micro-gutter-size), auto) [fullbleed-end];

  /*
        By using the max between 4rem and auto, we can ensure that the header
        and footer will be at least 4rem in height, but can expand if the
        content is larger.
    */
  grid-template-rows:
    [header-start] minmax(4rem, auto) [header-end main-start] minmax(4rem, auto) [main-end footer-start] 4rem [footer-end];

  min-height: 100dvh;

  &>main {
    /*
            Restrict page content to using the column-subgrid so that consumers
            of this theme cannot create out-of-order positioned elements by
            assigning a content to the a "header" subgrid row.
        */
    display: grid;
    grid-template-columns: subgrid;

    grid-row: main;
    grid-column: fullbleed;

    .page>* {
      /*
                By default, we want the content to be centered.
                If you want your content to extend to the edge of the page,
                you can simply use the "fullbleed" class.
            */
      grid-column: main;
    }
  }
}

/*
    The page-section layout is designed so that additional elements such as
    ::before and ::after pseudo elements are appended to the top and bottom of
    the section.

    This differs from the normal "block" flow where ::before and ::after pseudo
    elements are append to the left/right positions.
*/
section.page-section {
  display: grid;
  grid-template-columns: subgrid;

  &>.page-section-content {
    grid-column: main;
  }
}

/*
    You can use the .page helper class to create a scope for a certain page
    while not effecting the page flow.
*/
.page {
  display: contents;
}

.fullbleed {
  grid-column: fullbleed !important;
}
