<div>
  <h2 class="md-typescale-body-medium">
    Example Projects
  </h2>

  <div class="example-grid">
    {{ range .Site.Params.showcase }}
    <md-elevated-card class="card">
      <div class="card-media">
        <a href="{{ .link }}">
          <img src="{{ .image }}" alt="Screenshot of the {{ .title }} website" />
        </a>
      </div>

      <div class="card-content">
        <h3 class="md-typescale-title-large">{{ .title }}</h3>
        <p class="md-typescale-body-medium">{{ .description }}</p>
      </div>

      <div class="card-footer">
        <md-filled-tonal-button>Visit Project</md-filled-tonal-button>
      </div>
    </md-elevated-card>
    {{ end }}
  </div>

  {{- .Inner -}}
</div>

<style>
  .example-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.5rem;
    justify-items: center;

    & > * {
      margin: 0;
      max-width: 400px;
    }
  }
</style>
