<div class="double-column">
  <section class="sub-description">
    <h3 class="md-typescale-headline-medium">
      Your projects homepage
    </h3>

    <p class="md-typescale-body-medium">
      Call detective websites are designed to be content rich platforms.
      Allowing you to share any media such as youtube promotional videos, images
      and audio clips to show off your study area.
    </p>

    <p class="md-typescale-body-medium">
      The <a href="https://powerful-owl.calldetective.org">Whoo's Calling</a>
      project has used rich content to showcase the range of owls. Providing
      clear examples of male, female, and chick calls to help citizen scientists
      identify different species.
    </p>
  </section>

  <section class="sub-description">
    <h3 class="md-typescale-headline-medium">
      Collaborate with citizen scientists
    </h3>

    <p class="md-typescale-body-medium">
      Data platforms such as <a href="https://www.ecosounds.org">Ecosounds</a>
      are powerful tools that include data ingestion, analysis, and annotating
      workflows. However, interacting with citizen scientists through a data
      platform is often daunting and a barrier to engagement.
    </p>

    <p class="md-typescale-body-medium">
      Call detective websites are designed to complement data platforms by
      providing an engaging and user-friendly interface for citizen scientists
      to explore and contribute to acoustic data.
    </p>
  </section>
</div>

{{- .Inner -}}
