<div class="hero-container">
  <figure class="hero-image">
    <img
      srcset="
        /hero-image-1280w.webp 1280w,
        /hero-image-1920w.webp 1920w,
        /hero-image-2560w.webp 2560w,
        /hero-image-3840w.webp 3840w
      "
      src="/hero-image-1920w.webp"
      sizes="100vw"
      alt="Landscape photograph of the Australian outback plains with a lone tree in the foreground and mountains in the distance"
      loading="eager"
    />
    {{- with .Get "citation" -}}
    <figcaption class="hero-citation">
      <cite>{{- . -}}</cite>
    </figcaption>
    {{- end -}}
  </figure>

  <div class="hero-overlay">
    <h1 class="md-typescale-display-large">Call Detective</h1>
    <p class="md-typescale-headline-small">
      {{- .Inner -}}
    </p>
  </div>
</div>

<style>
  .hero-container {
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 400px;
    overflow: hidden;
  }

  /* subtle fade to black at the bottom of the hero image */
  .hero-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.35) 90%,
      rgba(0, 0, 0, 0.70) 100%
    );
    z-index: 1;
  }

  /* ensure the image and overlay stack properly */
  .hero-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: 0;
  }

  .hero-citation {
    position: absolute;
    bottom: 0px;
    right: 0px;

    padding: 0.5rem 0.75rem;
    border-top-left-radius: 0.25rem;

    color: white;
    background-color: black;
    font-size: 0.8rem;

    z-index: 3;

    cite {
      font-style: normal;
    }
  }

  .hero-overlay {
    position: absolute;
    inset: 0;

    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.2));

    z-index: 2;
  }

  .hero-overlay h1 {
    margin: 0 0 16px 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 4rem;
  }

  .hero-overlay p {
    margin: 0;
    max-width: 600px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    letter-spacing: -0.025em;
    font-size: 1.5rem;
  }
</style>
