<div class="description-columns double-column">
  <section class="sub-description">
    <h3 class="md-typescale-headline-medium">
      Share acoustic soundscapes
    </h3>

    <p class="md-typescale-body-medium">
      Call detective websites are fully customizable platforms. Allowing you to
      share any media such as youtube promotional videos, images and audio clips
      to highlight the unique soundscapes of your study area.
    </p>

    <p class="md-typescale-body-medium">
      You can also provide context about your research project, the study area,
      and the species of interest to engage your audience and encourage
      participation.
    </p>
  </section>

  <section class="sub-description">
    <h3 class="md-typescale-headline-medium">
      Collaborate with citizen scientists
    </h3>

    <p class="md-typescale-body-medium">
      Data platforms such as <a href="https://www.ecosounds.org">Ecosounds</a>
      are powerful tools that include data ingestion, analysis, and annotating
      workflows. However, interacting with citizen scientists through a data
      platform is often daunting and a barrier to engagement.
    </p>

    <p class="md-typescale-body-medium">
      Call detective websites are designed to complement data platforms by
      providing an engaging and user-friendly interface for citizen scientists
      to explore and contribute to acoustic data.
    </p>
  </section>
</div>

{{- .Inner -}}

<style>
  .sub-description {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
</style>
