<div class="hero-blurb">
  <h2 class="hero-blurb-title md-typescale-headline-medium">
    Empowering citizen science at scale
  </h2>

  <ul class="hero-feature-list">
    <li class="md-typescale-body-medium">
      <span class="feature-heading">
        <md-icon>analytics</md-icon>
        <strong>Verification</strong>
      </span>
      <p>
        Engage with expert and community verifiers to ensure data quality.
      </p>
    </li>

    <li class="md-typescale-body-medium">
      <span class="feature-heading">
        <md-icon>brush</md-icon>
        <strong>Personalization</strong>
      </span>
      <p>Record and upload lossless files and maintain original metadata.</p>
    </li>

    <li class="md-typescale-body-medium">
      <span class="feature-heading">
        <md-icon>data_thresholding</md-icon>
        <strong>Ecosounds Integration</strong>
      </span>
      <p>
        Seemlessly integrate all of Ecosounds, including analysis, reporting and
        verification tools.
      </p>
    </li>

    <li class="md-typescale-body-medium">
      <span class="feature-heading">
        <md-icon>crowdsource</md-icon>
        <strong>Engagement</strong>
      </span>
      <p>
        Export reproducible analysis and publish datasets alongside research.
      </p>
    </li>
  </ul>

  <div class="hero-stats" aria-hidden="false">
    <div class="hero-stat" role="group" aria-label="Recordings">
      <div class="stat-number md-typescale-display-small">
        <layflags-rolling-number>20741</layflags-rolling-number>
      </div>
      <div class="stat-label md-typescale-body-small">Events</div>
    </div>
    <div class="hero-stat" role="group" aria-label="Identified species">
      <div class="stat-number md-typescale-display-small">
        <layflags-rolling-number>6834</layflags-rolling-number>
      </div>
      <div class="stat-label md-typescale-body-small">Verifications</div>
    </div>
    <div class="hero-stat" role="group" aria-label="Showcase">
      <div class="stat-number md-typescale-display-small">
        {{ $projectCount := len (default (slice) .Site.Params.showcase) }}
        <layflags-rolling-number>{{ $projectCount }}</layflags-rolling-number>
      </div>
      <div class="stat-label md-typescale-body-small">Showcase items</div>
    </div>
  </div>

  {{- .Inner -}}
</div>

<style>
  .hero-blurb {
    text-align: center;
    font-size: 2rem;

    .hero-blurb-title {
      margin-top: 0m;
      margin-bottom: 1rem;
    }

    .hero-feature-list {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;

      justify-content: center;

      li {
        padding-inline: 1.4rem;
        padding-block: 1.5rem;

        max-width: 275px;

        border: 1px solid var(--md-sys-color-on-surface-variant);
        background-color: var(--md-sys-color-surface-container);
        border-radius: 12px;

        box-shadow: var(--md-sys-color--surface) 0px 0px 4px inset;

        .feature-heading {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          text-align: center;

          margin-bottom: 0.5rem;

          md-icon {
            margin-right: 0.5rem;
          }
        }

        p {
          margin: 0;
        }
      }
    }

    .hero-stats {
      display: flex;
      justify-content: center;
      margin-block: 3rem;
      margin-bottom: 2rem;
      gap: 6rem;

      flex-wrap: wrap;

      .hero-stat {
        letter-spacing: -0.025em;
      }

      .stat-number {
        color: var(--md-sys-color-primary);
      }

      .stat-label {
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 768px) {
    .hero-feature-list {
      li {
        min-width: 100%;
      }
    }
  }
</style>
